body {
    background-color: #97ce4c;
}

.bg {
    background-color: #e89ac7;
}

.centered {
    text-align: center;
}

.card-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.stretch {
    height: '100%';
}

.grid {
    display: 'flex';
    flex-direction: 'column';
}
