body {
    background-color: #97ce4c;
}

.centered {
    text-align: center;
}

.card-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.stretch {
    height: '100%';
}

.grid {
    display: 'flex';
    flex-direction: 'column';
}

.flex-column-parent {
    display: flex;
    flex-flow: column;
}

.flexer {
    flex: 1;
}

.search-status-text {
    font-weight: 300;
    padding: 2;
}
